Importando o pandas

In [2]:
import pandas as pd

Lendo o csv

In [3]:
sal = pd.read_csv('Salaries.csv',sep=",",low_memory=False)
sal = sal.sort_index()

Pegando as cinco primeiras linhas do csv

In [81]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Trazendo as informações do projeto

In [82]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148646 entries, 0 to 148645
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148646 non-null  int64
 1   EmployeeName      148646 non-null  object
 2   JobTitle          148646 non-null  object
 3   BasePay           148041 non-null  float64
 4   OvertimePay       148646 non-null  float64
 5   OtherPay          148646 non-null  float64
 6   Benefits          112487 non-null  float64
 7   TotalPay          148646 non-null  float64
 8   TotalPayBenefits  148646 non-null  float64
 9   Year              148646 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148646 non-null  object
 12  Status            38115 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

Qual é o "BasePay" médio?

In [83]:
sal["BasePay"].mean()

66327.2409237306

Qual é a maior quantidade de "OvertimePay" no conjunto de dados?

In [84]:
sal['OvertimePay'].max()

245131.88

Qual é o cargo de JOSEPH DRISCOLL? Nota: use todas as maiúsculas, caso contrário você pode obter uma resposta que não coincida (há
também um Joseph Driscoll com minúsculas).

In [85]:
sal.loc[sal["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

Quanto JOSEPH DRISCOLL ganha (incluindo benefícios)?

In [86]:
sal.loc[sal["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

Qual o nome da pessoa mais bem paga (incluindo benefícios)?

In [87]:
sal.loc[sal["TotalPayBenefits"] ==  sal["TotalPayBenefits"].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

Qual o nome da pessoa paga mais baixa (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é paga?

In [88]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.0,-33.89,2013,NaN,San Francisco,NaN

Qual foi a média (média) BasePay de todos os funcionários por ano? (2011-2014)?

In [89]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66571.407565
Name: BasePay, dtype: float64

Quantos títulos de trabalho únicos existem?

In [90]:
sal['JobTitle'].nunique()

2158

Quais são os 5 principais empregos mais comuns?

In [91]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Quantos Títulos de Trabalho foram representados por apenas uma pessoa em 2013? (Por exemplo, títulos de trabalho com apenas uma
ocorrência em 2013?)

In [92]:
sum(sal.query("Year ==2013")['JobTitle'].value_counts() ==1)

202

Quantas pessoas têm a palavra Chefe em seu cargo? (Isso é bastante complicado)

In [93]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [94]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

Bônus: Existe uma correlação entre o comprimento da seqüência do título do trabalho e o salário?

In [95]:
sal['title_len'] = sal['JobTitle'].apply(len)

Sem correlação

In [96]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036929
TotalPayBenefits  -0.036929          1.000000

In [99]:
sal[["TotalPayBenefits","JobTitle"]].corr()

                  TotalPayBenefits
TotalPayBenefits               1.0